*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: none;
    font-size: 1em;
}

a:hover
{
    text-decoration: underline;
}

body
{
    margin: 0;
    padding: 0;
    background: white url(img/page-bg.jpg) top center repeat-y;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    text-align: center;
}

A
{
    color: #ff118c;
}

p 
{
    margin: 20px 0;
}

#around
{
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

#top
{
    width: 1000px;
    height: 58px;
    background: url(img/top-bg.png) bottom center no-repeat;
    position: absolute;
    z-index: -10;
    left: -20px;
    top: 0;
}

#side
{
    width: 340px;
    margin: 0 10px;
    position: absolute;
}

#side h1 a
{
    margin: 52px 0 0 30px;
}

#side h1 a
{
    display: block;
    width: 270px;
    height: 130px;
    background: url(img/title.png) center center no-repeat;
    text-indent: -1000px;
}

#mid
{
    margin: 0 40px 0 400px;
    padding-top: 100px;
}

#labels
{
    position: absolute;
    top: 21px;
    right: 50px;
}

#labels li
{
    display: block;
    float: left;
    margin-left: 10px;
}

#labels li a
{
    display: block;
    position: relative;
    width: 89px;
    height: 60px;
    text-indent: -10000px;
    overflow: hidden;
    background-position: 0 -120px;
    background-repeat: no-repeat;
}

#labels li a.hl
{
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    background-position: 0 0;
}

#labels li a:hover
{
    top: -5px;
    background-position: 0 -60px;
}

#labels li.label-fien a
{
    background-image: url(img/labels-fien.png);
}


#labels li.label-klaas a
{
    background-image: url(img/labels-klaas.png);
}

#labels li.label-trijn a
{
    background-image: url(img/labels-trijn.png);
}

#content
{
    color: rgba(0, 0, 0, 0.6);
    text-shadow: rgba(255, 255, 255, 0.85) 1px 1px 1px; 
}

#content img
{
    border: 2px solid #333;
}

span.fluo
{
    background: url(img/fluo-dummy.png) -2px center no-repeat;
    padding: 4px 0px 4px 0px;
    clip: rect(0 48px 0 0);
    margin-right: 10px;
}

span.fluo span
{
    background: url(img/fluo-dummy.png) center right no-repeat;
    position: relative;
    right: -10px;
    padding: 4px 15px 4px 0;
}

span.fluo.orange, span.fluo.orange span
{
    background-image: url(img/fluo-orange.png);
}

span.fluo.yellow, span.fluo.yellow span
{
    background-image: url(img/fluo-yellow.png);
}

span.fluo.green, span.fluo.green span
{
    background-image: url(img/fluo-green.png);
}

span.fluo.pink, span.fluo.pink span
{
    background-image: url(img/fluo-pink.png);
}

span.fluo.purple, span.fluo.purple span
{
    background-image: url(img/fluo-purple.png);
}

span.fluo.blue, span.fluo.blue span
{
    background-image: url(img/fluo-blue.png);
}

/* feeditem */

div.feeditem
{
    margin: 20px 0;
}

div.feeditem .fluo a
{
    color: #333;
    font-size: 18px;
}

div.feeditem div.title
{
    display: inline;
    margin-bottom: 10px;
}

div.feeditem img.thumbnail
{
    display: none;
    border: 2px solid #666;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
    float: right;
    vertical-align: top;
}

div.feeditem .actions
{
    clear: both;
    font-size: 12px;
    font-family: calibri, helvetica, Arial;
}

div.feeditem .info, div.feeditem .info a
{
    font-size: 12px;
    color: #666;
}

div.feeditem .info, div.feeditem .info a
{
    color: #666;
}

div.feeditem .info a.icon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 4px;
}

div.feeditem .info a.icon.blog
{
    background: url(img/icon-blog.png) center center no-repeat;
}

div.feeditem .info a.icon.vimeo
{
    background: url(img/icon-vimeo.png) center center no-repeat;
}

div.feeditem a.thup
{
    background: url(img/thup.png) center left no-repeat;
    padding-left: 18px;
}

div.feeditem a.thdown
{
    background: url(img/thdown.png) center left no-repeat;
    padding-left: 18px;
}

hr 
{
    margin: 10px 0;
    border-bottom: 1px dotted black;
}

h2 
{
    color: Black;
    dcolor: #ff117b;
    font-family: Chauncy Deluxxe, NimbusSanTCELig, helvetica, Arial;
    letter-spacing: 0px;
    font-size: 32px;
    font-weight: normal;
}

#footer 
{
    clear: both;
    margin-top: 40px;
}

